
.outcontent{
    padding: 30px;
}
.title{
    color: #2a333c;
    margin-bottom: 30px;
}
.title h2{
    font-size: 24px;
    margin-bottom: .8em;
}
.about-text p{
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: .8em;
    color: #2a333c;
}
.about-text p img{
    width: 100%;
    margin: 30px 0;
}
/* 联系我们 */
table{
    width: 100%;
    empty-cells: show;
}
table td{
    border-color: rgb(228, 234, 236);
    padding: 0.5em 0.7em;
    line-height: 1.5em;
    vertical-align: middle;
    max-width: 100%;
    word-break: break-all;
    border: 1px solid #e4eaec;
    font-size: 12px;
}
table td p{
    margin-bottom: 0.8em;
}